.header {
  background-color: rgb(0, 0, 56);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-left {
  font-family: Fira Sans;
  color: white;
  font-size: 24px;
}
.header-right {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-button,
.projects-button,
.contact-button {
  font-family: Fira Sans;
  font-size: 20px;
  background-color: rgba(22, 22, 172, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: none;
  height: 60px;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;
}
.home-button:hover,
.projects-button:hover,
.contact-button:hover {
  color: black;
  background-color: white;
}
